/* header */
.header {
  margin: 0 auto;
  max-width: 140rem;
  padding: 0 1.6rem;
}

.nav-logo-holder {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  width: 30px;
  height: 30px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

.header-nav a.active {
  font-weight: bold;
}

.theme-mode {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
}

#theme-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 2;
}

#toggle-theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 3;
}

@media (min-width: 60rem) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 60rem) {
  .header-nav {
    display: none;
  }
}

@media (min-width: 30rem) {
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

svg {
  float: right;
  margin-left: 5px;
}
