.main-albums {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .albums__img {
    width: 25rem;
    height: 25rem;
  }

  .albums__title {
    font-size: 2rem;
  }

  .albums__genre-container {
    display: flex;
    gap: 0.5rem;
  }

  .albums__genre {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--subtle-light);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #333;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--accent-light);
    }
  }
}

.album-intro {
  padding-bottom: 3.6rem;
  line-height: 1;
}

.album-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

@media (min-width: 48rem) {
  .album-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 70rem) {
  .album-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}