/* games */
.main-games {
  display: flex;
  flex-direction: column;
  background-color: var(--base-light);
}

/* Regular Games Section */
.regular-games-section {
  padding: 1rem;
}

.regular-games-container {
  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.regular-game {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.regular-game img {
  width: 100%;
  max-width: 35rem;
  height: auto;
  border-radius: 0.5rem;
}

.regular-games__text br {
  display: block;
  content: "";
  margin-top: 1.5rem;
}

.text-before-br {
  color: var(--base-light);
}

.regular-games__text a {
  color: var(--accent-subtle-light) !important;
  text-decoration: underline var(--accent-subtle-light);
}

.game__title {
  margin-top: 0.5rem;
  font-size: 0.6rem;
  color: var(--tint-dark);
}

/* Slideshow Navigation */
.slideshow-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.slideshow-nav button {
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slideshow-nav button:hover {
  background-color: #888;
}

.slideshow-nav button:focus,
.slideshow-nav button.active {
  background-color: #333;
  box-shadow: 0 0 0.625rem 0.25rem rgba(50, 50, 50, 0.5);
}

/* Honorable Mentions Section */
.honorable-section {
  margin-top: 2rem;
  border-top: var(--accent-light) 0.1rem solid;
  padding: 2rem 1rem;
}

.honorable-mentions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.honorable-mention img {
  width: 100%;
  max-width: 28.75rem;
  height: auto;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.honorable-mention img:hover {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.honorable-mention h3 {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #555;
}

/* Fullscreen Overlay */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.fullscreen-overlay.active {
  display: flex;
}

.fullscreen-content {
  max-width: 60%;
  border-radius: 0.75rem;
  position: relative;
}

.fullscreen-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.fullscreen-title {
  font-size: 1rem;
  color: var(--tint-dark);
}

.close-fullscreen {
  position: absolute;
  top: -10rem;
  right: -7rem;
  font-size: 2rem;
  color: var(--base-light);
  background-color: black;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-fullscreen:hover {
  transform: scale(1.05);
}

/* dark-mode */
.dark-mode {
  .main-games {
    background-color: var(--contrast-light);
    color: var(--base-light);
  }

  .honorable-section {
    border-top: 0.1rem solid var(--subtle-dark);
  }

  .fullscreen-overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .close-fullscreen {
    color: black;
    background-color: white;
  }
}
/* media queries */
@media (min-width: 48rem) {
  .main-games {
    padding: 4rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 70rem) {
}
