/* footer */
.footer {
  display: flex;
  flex-direction: column;
  border-top: var(--accent-light) 0.1rem solid;
  padding: 2rem 1rem;

  p {
    font-size: 0.8rem;
    color: var(--subtle-dark);
  }

  .footer__copyright a {
    color: var(--subtle-dark) !important;
    text-decoration: underline var(--subtle-dark);
  }

  @media (min-width: 48rem) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__social {
  display: flex;
}

.footer__social img {
  width: 1rem;
  margin-left: 1rem;
  height: auto;
  cursor: pointer;
}

body.dark-mode {
  .footer {
    border-top: 0.1rem solid var(--subtle-dark);
  }

  .footer__social img {
    filter: invert(0.7);
  }

  p {
    color: var(--tint-dark);
  }

  .footer__copyright a {
    color: var(--tint-dark) !important;
    text-decoration: underline var(--tint-dark);
  }
}

@media (min-width: 70rem) {
  .footer {
    margin: 0 4rem 0 4rem;
  }
}