/* header */
header {
  border-bottom: var(--accent-light) 0.1rem solid;

  a {
    font-family: var(--font-header);
    font-size: 2rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav-logo-holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.intro {
  margin-right: auto;
  font-weight: 500;
}

/* light-dark mode */
.theme-mode {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
}

.theme-icon {
  width: 1.8rem;
  height: 1.8rem;
}

/* hamburger-icon */
.hamburger {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
}

.hidden {
  display: none;
}

/* toggle hamburger and close icons */
.hamburger .hamburger-icon {
  display: block;
}

.hamburger .close-icon {
  display: none;
}

.hamburger.active .hamburger-icon {
  display: none;
}

.hamburger.active .close-icon {
  display: block;
}

/* nav-menu links */
.visible a {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem;
  padding-bottom: 2.5rem;
  border-bottom: 0.1rem solid var(--accent-light);
}

.nav-list.visible a:nth-child(5) {
  border-bottom: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6.475rem;
  left: 0;
  width: 100%;
  background-color: var(--base-dark);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

.nav-list.visible {
  background-color: var(--shade-light);
  opacity: 1;
  visibility: visible;
}

/* Push "De Tijdloze" to the bottom center */
.nav-list.visible .timeless {
  font-family: var(--font-header);
  font-size: 3.5rem;
  font-weight: 400;
  margin: 8rem 2rem 2rem 2rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--subtle-light);
}

body.dark-mode {
  .nav-list.visible {
    background: black;
  }

  a {
    color: var(--base-light);
  }

  .nav-list.visible .timeless {
    background-color: var(--tint-light);
  }
}

.nav-list a {
  text-decoration: none;
  margin: 0.5rem;
  font-size: 6rem;
  font-family: var(--font-body);
}

.nav-list a.active {
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
  text-decoration-color: var(--accent-light);
}

.nav-list a:hover {
  color: var(--accent-light);
}

.dark-mode {
  .nav-list a.active {
    text-decoration-color: var(--accent-subtle-light);
  }

  .nav-list a:hover {
    color: var(--accent-subtle-light);
  }
}

div.nav-action {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

/* dark-mode */
body.dark-mode {
  header {
    border-bottom: 0.1rem solid var(--subtle-dark);
  }

  .hamburger img {
    filter: invert(1);
  }
  .visible a {
    border-bottom: 0.1rem solid var(--subtle-dark);
  }
}

/* media queries - header */
@media (min-width: 70rem) {
  .header {
    margin: 0 4rem 0 4rem;
  }

  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    position: static;
    visibility: visible;
    opacity: 1;
    height: auto;
    width: auto;
    background: none;
  }
  .nav-list a {
    margin: 0 1rem;
    color: var(--shade-dark);
    font-size: 1rem;
  }
}
