.intro__article {
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 4rem 2rem;
}

.intro__title {
  font-size: 4rem;
  max-width: 15rem;
  font-weight: 400;
  line-height: normal;
}

.highlight {
  color: var(--tint-dark);
  font-size: 2rem;
  font-weight: 500;
}

.intro__description {
  width: 100%;
  max-width: 50rem;
  padding-top: 2rem;
  font-size: 1.03rem;
}

@media (min-width: 48rem) {
  .intro__article {
    width: 60%;
  }
  .intro__description {
    max-width: 40rem;
  }
}

.dark-mode {
  .intro__description {
    color: var(--base-light);
  }

  .main-albums .albums__genre {
    color: var(--tint-dark);
    background-color: var(--tint-light);
  }
}
